@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Roboto+Mono');
html{height: 100%;}
body{
    background: #1F1C2C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #928DAB, #1F1C2C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;

    font-family: 'Allerta Stencil', sans-serif;

    font-family: 'Roboto Mono', monospace;
}
.container{
    display:-moz-box;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
    font-size: 16px;
    flex-wrap: wrap;
}
.login-container{
    width: 40%;
    background: #fff;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
}
.login-container .title-login{
    font-size: 1.5em;
}
.login-container .title-login::before{
    content: 'JAHA ';
    color:rgb(101, 53, 93);
    font-family: 'Allerta Stencil', sans-serif;
}
.login-container .title-login::after{
    content: 'Blog - login ';
    color:rgb(65, 63, 64);
    font-family: 'Allerta Stencil', sans-serif;
}
.login-container .title-registro::after{
    content: 'Blog - Registro ';
    color:rgb(65, 63, 64);
    font-family: 'Allerta Stencil', sans-serif;
}
.login-container form{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}


.form-control{
    padding: 1em;
    margin: 1em;
    border:none;
    border-radius: 0.5em;
    font-size: 1em;
    background-color: rgba(231, 225, 225, 0.461);
}

.form-control:hover{
    border:0.0625em solid violet;
    border-radius: 0.5em;
}
.form-control:focus{
    border:none;
    border-bottom: .5em solid red;

}

.action-login{
    margin:1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%
}

.btn{
    cursor: pointer;
    padding: 1em 3em;
    border:none;
    border-radius: .5em;
    background: #928DAB;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
}
.btn-primary{
   
    background: rgb(51, 180, 69);
   
}

.action-login button:hover{
    cursor: pointer;
    background: rgb(61, 49, 121);
}

.action-login a{
    text-decoration: none;
    color:blue;
    margin-left: 3em;
}

.error{
    background: rgb(206, 114, 114);
    padding: 1em;
    border: none;
    border-radius: .5em;
    display: none;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgb(38, 38, 43);
    margin-left:-.5em; 
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-items{
    padding: 1em;
}
.nav-items .item {
    text-decoration: none;
    color:#fff;
    padding: 2em;
    cursor: pointer;
}

.main{
    width: 60%;
    /* margin-top:2em; */
}

.main .post{
    margin:1em;
    background: #fff;
    border-radius: 1em;
    padding: 1em;
}

.index{
    margin-top:4em;
}

.login{
    height: 100%;
}


/* Post */
.post-title{
    text-decoration: none;
    cursor: pointer;
    color:black;
}
.post-like{
    margin-right: 2em;
    display: flex;
    flex-direction: row;
}
.like-icon{
    font-size: 1.2em;
    color:rgb(172, 99, 111);
    background: none;
    border: none;
    cursor: pointer;
}
.post-body{
    margin: 1.5em;
}
.post-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.post-footer .post-by,.post-fecha{
    font-size: .8em;
}
.post-footer .post-by{
    width: 51.29%;
   margin-left: 0.5em;
}

.post-footer .like{
    /* width: 21.5%; */
    text-align: end;
    margin-right: .5em;
}
/* .post-footer .view{
    width: 21.5%;
    text-align: end;
    margin-right: .5em;
} */

.post-footer .total{
    margin-right: 2em;
    margin-left: 2em;
}


.comment{
    width:60%;
}
.comment-container{
    margin:1em;
    background: #fff;
    border-radius: 1em;
    padding: 1em;
}

.comment-container form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.comment-container form textarea{
    border: none;
    border-radius: 1em;
    background: rgb(218, 211, 211);
    width:90%;
    padding: 1em;
    resize: none;
}

.comment-container .comment-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(218, 211, 211);
    margin: 1em;
    padding: 1em;
}

.perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
}
.perfil-avatar{
    width: 40%;
    text-align: center;
}

.perfil-avatar img{
    width: 100%;
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.align-i-center{
    align-items: center;
}
.j-center{
    justify-content: center;
}
.f-wrap{
    flex-wrap: wrap;
}
.perfil-description h5{
    margin-left: 0.5em;
}

.post-add{
    position: fixed;
    top:20%;
    left:2em;
    background: rgb(255, 255, 255);
    /* padding: 1em; */
    /* margin: 1em; */
    /* width: 4.25em; */
    /* height: 4.25em;  */
    border:none;
    border-radius: 50%;
    text-decoration: none;
    color:rgb(33, 82, 33);
    font-size: 4em;
    cursor: pointer;
}


.post-add .btn{
    text-decoration: none;
    color:rgb(126, 199, 126);
    font-size: 4em;
    
}

.post-register{
    margin:5em auto;
    width:70%;
}

.post-register .post-textarea{
    width:95%;
    max-width:95%;
    min-width: 95%;
    height: 18.75em;
    border:none;
    border-radius: .5em;
    background: rgb(218, 211, 211);
    padding:.5em;
    margin: 1em;

}
.logo{
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 1.2em;
}

.info{
    visibility: hidden;
    background:rgb(89, 89, 230);
    color:#fff;
    padding: .1em;
    margin:.1em;
    border: none;
    border-radius: .5em;
    text-align: center;
}

.no-pointer{
    cursor: auto;
}

.categorias{
    width: 80%;
    height: 7em;
}

.tags-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.tags-li{
    margin:0;
    margin-top: .5em;
    background: rgb(218, 211, 211);
    padding: .5em;
    padding-right: 0;
    border: none;
    border-radius: 0.5em;
}
.tags-delete{
    border-left: .1em solid black;
    font-weight: bold;
    padding: .5em;
    background: rgba(194, 44, 18, 0.783);
    width: 0.1em;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    cursor: pointer;
}

.tags-post{
    margin: .5em;
    color:rgb(163, 160, 160);
    text-transform: uppercase;
}

.usuarios-container{
    width: 40%;
    /* text-align: center; */
    background: rgb(163, 160, 160);
    margin: 1em;
    border: none;
    border-radius: .5em;
}
.usuarios-container img{
    width: 100%;
}
.usuarios-figure{
    background: #fff; 
    width: 100%;
    margin: 0;
    text-align: center;
}
.usuarios-container .description{
    width: 100%;
    padding: .5em;
    color:#fff;
}

.c-violet{
    color:  rgb(83, 64, 175);
}
.c-green{
    color:rgb(10, 82, 10);
}
.c-blue{
    color: blue;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

.d-none{
    text-decoration:none;
    color:black;
    cursor: pointer;
}