html{height: 100%;}
body{
    background: #1F1C2C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #928DAB, #1F1C2C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    
}
.container{
    display:-moz-box;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
    font-size: 16px;
}
.login-container{
    width: 40%;
    background: #fff;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
}
.login-container .title-login{
    font-size: 1.5em;
}
.login-container .title-login::before{
    content: 'JAHA ';
    color:rgb(101, 53, 93);
}
.login-container .title-login::after{
    content: 'Blog - login ';
    color:rgb(65, 63, 64);
}
.login-container .title-registro::after{
    content: 'Blog - Registro ';
    color:rgb(65, 63, 64);
}
.login-container form{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.form-control{
    padding: 1em;
    margin: 1em;
    border:none;
    border-radius: 0.5em;
    font-size: 1em;
    background-color: rgba(231, 225, 225, 0.461);
}

.form-control:hover{
    border:0.0625em solid violet;
    border-radius: 0.5em;
}
.form-control:focus{
    border:none;
    border-bottom: .5em solid red;

}

.action-login{
    margin:1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%
}

.action-login button{
    
    padding: 1em 3em;
    border:none;
    border-radius: .5em;
    background: #928DAB;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
}

.action-login button:hover{
    cursor: pointer;
    background: rgb(61, 49, 121);
}

.action-login a{
    text-decoration: none;
    color:blue;
    margin-left: 3em;
}

.error{
    background: rgb(206, 114, 114);
    padding: 1em;
    border: none;
    border-radius: .5em;
    display: none;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgb(38, 38, 43);
    margin-left:-.5em; 
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-items{
    padding: 1em;
}
.nav-items .item {
    text-decoration: none;
    color:#fff;
    padding: 2em;
    cursor: pointer;
}

.main{
    width: 60%;
    /* margin-top:2em; */
}

.main .post{
    margin:1em;
    background: #fff;
    border-radius: 1em;
    padding: 1em;
}

.index{
    margin-top:3em;
}

.login{
    height: 100%;
}


/* Post */
.post-title{
    text-decoration: none;
    cursor: pointer;
    color:black;
}
.post-like{
    margin-right: 2em;
    font-size: 1.2em;
    color:rgb(172, 99, 111);
}
.post-body{
    margin: 1.5em;
}
.post-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.post-footer .post-by{
    width: 50%;
}

.post-footer .like{
    width: 45%;
    text-align: end;
    margin-right: 2em;
}

.post-footer .total-like{
    margin-right: 2em;
}

 .fas-star{
    font-size: 3em;
    color:blue;
    background: blue;
}
